body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

div.board {
    background-color: brown;
    width: 100%;
    background: #eab92d;
    background: -moz-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #eab92d), color-stop(99%, #c79810));
    background: -webkit-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -o-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -ms-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);

}

.container {
    margin: 40px auto;
}

#board {
  padding: 10px auto;
  border: 1px solid #DCDCDC;
  box-shadow: 10px 10px 10px #DCDCDC;
  -webkit-box-shadow: 10px 10px 10px #DCDCDC;
  -moz-box-shadow: 10px 10px 10px #DCDCDC;
}

#board form {
  margin: 10px auto;
}

#board form input {
  border-radius: 0;
  padding: 5px 10px;
  line-height: 28px;
}
.actions {
  display: none;
  float:right;
}
.action {
  width: 28px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
}
.actions .edit {
  color: #468847 !important;
}
.actions .remove {
  color: #b94a48 !important;
}
.action:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
}

.todos-list {
  padding-left: 0;
}

.todos-list li {
  line-height: 28px;
  padding: 5px;
  margin: 10px auto;
  font-size: 18px;
  vertical-align: middle;
  border-bottom: 1px dashed #DDD;
  list-style: none;
  color: #979797;
}

.todos-list li:hover {
  /*transform: scale(1.02, 1.2);*/
  cursor: pointer;
}
